<!DOCTYPE html>
<html>
  <head>
    <title>ExpertsExchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/navigation' %>
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
