<div class="row">
  <div class="col-md-12">
    <h1><%= @expert.name %></h1>
  </div>
</div>
<p>
  <%= form_for(
          @expert,
          url: search_experts_expert_path,
          method: :get,
          ) do |f| %>
    Search for another Skill: <%= text_field_tag :q %>
    <%= f.submit 'Search', class: 'btn btn-sm btn-primary' %>
  <% end %>
</p>

<% if @topic_experts.blank? %>
  Sorry, no matches were found
<% else %>
  <p>Experts matching "<%= @search_term %>"</p>
  <% @topic_experts.each do |te| %>
    <%- if current_user %>
      <%= link_to "+", add_friend_experts_path(@expert.id, te.id), method: :post, class: 'btn btn-sm btn-primary' %>
    <% end %>
    <%= link_to te.name, te %><br/>
    <%= introduction_path @expert, te %>
  <% end %>
<% end %>
